<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <listener>
        <listener-class>
            com.google.android.gcm.demo.server.ApiKeyInitializer
        </listener-class>
    </listener>
    
	<servlet>
		<servlet-name>GcmGaeServer</servlet-name>
		<servlet-class>com.google.android.gcm.demo.server.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GcmGaeServer</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>
      com.google.android.gcm.demo.server.RegisterServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UnregisterServlet</servlet-name>
    <servlet-class>
      com.google.android.gcm.demo.server.UnregisterServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>UnregisterServlet</servlet-name>
    <url-pattern>/unregister</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SendMp3LinksServlet</servlet-name>
    <servlet-class>
      com.google.android.gcm.demo.server.SendMp3LinksServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>SendMp3LinksServlet</servlet-name>
    <url-pattern>/send-mp3</url-pattern>
  </servlet-mapping>
	
</web-app>
